* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}


body{
  
    background-color: #eee ;
}

.result{
  width: 40%;
  display: flex;
  margin: 10% 30%;
  background: #fff;
  height: 50vh;
  border-radius: 15px;
  box-shadow: rgba(0, 4, 4, 0);
}
.perfomance{
   background:linear-gradient(to bottom,  hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
   width: 50%;
   border-radius: 15px;
   text-align: center;
   color: #fff;
   height: 400px;
}
.perfomance h3{
    margin-top: 10%;
    font-weight: 700;
}
.circle{
    margin-top: 10%;
}
.circle h1{
    font-weight: 800;
    font-size: 30px;
    margin-top: 5%;
}
.circle p{
    color: rgb(188, 181, 181);
    font-size: 20px;
}
.perfomance h1{
    font-size: 25px;
    margin-top: 10%;
}
.perfomance p{
    margin-top: 15%;
    color:rgb(188, 181, 181) ;
    line-height: 30px;
}
.result .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsl(256, 72%, 46%, 1), hsl(241, 72%, 46%, 0));
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.circle h1{
    color: white;
    font-size: 2.5rem;
}
.right{
    width: 50%;
    padding: 1rem .5rem;
    border-radius: 2rem;
    background: white;
    height: 400px;

}

.right h2{
    color: black;
    margin-bottom: .5rem;
    font-size: 20px;
    font-display: bold;
    font-weight: 700;
}
.btn{
    margin-top: 10%;
    color: #fff;
    padding: 10px 70px;
    background-color: black;
    border-radius: 20px;
}
.reactions{
    display: block;
    background-color: hsl(0, 77%, 76%);
    padding: 8px 15px;
    margin-top: 5%;

}
.reactions span{
    margin-left: 4rem;
}

.memories{
    display: block;
    background-color: hsl(39, 89%, 72%) ;
    padding: 8px 15px ;
}
.memories span{
    margin-left: 4rem;
}
.verb{
    display: block;
    background-color: hsl(166, 75%, 73%) ;
    padding: 8px 15px ;
}
.verb span{
    margin-left: 5rem;
}
.visul{
    display: block;
    background-color: hsl(234, 89%, 69%) ;
    padding: 8px 15px ;
}
.visul span{
    margin-left: 5rem;
}

